@using Shopping.Models.Enum
@model Shopping.Models.Compra

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Compra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="Cod" class="control-label"></label>
                <input asp-for="Cod" class="form-control" />
                <span asp-validation-for="Cod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pagamento" class="control-label"></label>
                <select asp-for="Pagamento" class ="form-control" asp-items="Html.GetEnumSelectList<EPagamento>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input  type="number" min="1" asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientCPF" class="control-label"></label>
                <select asp-for="ClientCPF" class ="form-control" asp-items="ViewBag.ClientCPF"></select>
            </div>
            <div class="form-group">
                <label asp-for="CorreioId" class="control-label"></label>
                <select asp-for="CorreioId" class ="form-control" asp-items="ViewBag.CorreioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
